html,
body {
  /*background-color: #f2f2f2;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-fragment {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.nav-fragment1 {
  text-align: left;
  flex: 1;
  width: 10%;
}
.nav-fragment2 {
  text-align: right;
  flex: 8;
}
.nav-container svg {
  color: #fff;
}

a {
  text-decoration: none;
}

#alert-dialog-title {
  color: orange;
}
